<%= form_with(model: manifestation) do |form| %>
  <% if manifestation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(manifestation.errors.count, "error") %> prohibited this manifestation from being saved:</h2>

      <ul>
        <% manifestation.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :original_title %>
    <%= form.text_area :original_title %>
  </div>

  <div class="field">
    <%= form.label :note %>
    <%= form.text_area :note %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
